.container  {
	width: 100%;
}

section {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #444;
}

.block {
	width: 75px;
	height: 75px;
	margin: 25px;
	border: 2px solid #333;
}

.active {
	background: orange;
}

.hide {
	display: none;
}
.keyboard {
	border-radius: 3px;
	margin: 50px auto 50px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
}

.keysBg {
	width: 1050px;
	height: 350px;
}

.firstRow,
.secondRow,
.thirdRow,
.fourRow,
.fiveRow {
	display: flex;
	justify-content: space-around;
	margin-bottom: 8px;
}

.thirdRow {
	max-width: 942px;
	margin-top: -70px;
}

.firstRow__Btn,
.secondRow__Btn,
.thirdRow__Btn,
.fourRow__Btn,
.fiveRow__Btn {
	width: 60px;
	height: 60px;
	background: tomato;
	padding: 8px 0px 0px 8px;
	font-weight: bold;
	border-radius: 8px;
}
.firstRow__Btn-backspace {
	width: 130px;
	height: 60px;
	background: #A07191;
	padding: 8px 0px 0px 8px;
	font-weight: bold;
}

.secondRow__Btn-tab {
	width: 80px;
	height: 60px;
	background: #A07191;
	padding: 8px 0px 0px 8px;
	font-weight: bold;
}

.secondRow__Btn-Enter {
	width: 100px;
	height: 130px;
	background: #A07191;
	padding: 8px 0px 0px 8px;
	font-weight: bold;
}

.thirdRow__Btn-caps {
	width: 70px;
	height: 60px;
	background: #A07191;
	padding: 8px 0px 0px 8px;
	font-weight: bold;
}

.fourRow__Btn-leftShift {
	width: 120px;
	height: 60px;
	background: #A07191;
	padding: 8px 0px 0px 8px;
	font-weight: bold;
}

.fourRow__Btn-rightShift {
	width: 200px;
	height: 60px;
	background: #A07191;
	padding: 8px 0px 0px 8px;
	font-weight: bold;
}

.fiveRow__Btn-space {
	width: 540px;
	height: 60px;
	background: #A07191;
	padding: 8px 0px 0px 8px;
	font-weight: bold;
}

.activeBtn {
	background-color: #cbe4ff;
	-webkit-box-shadow: 0px 0px 17px 0px rgba(176,223,120,1);
	-moz-box-shadow: 0px 0px 17px 0px rgb(255, 255, 255);
	box-shadow: 0px 0px 17px 0px  rgb(255, 255, 255);
}